<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Nuevo Cliente</title>
	</head>
	<body>
		<form action="#" th:action="@{/cliente/guardar}" th:object="${cliente}" method="post">
		    <input type="text" th:field="*{nombre}" placeholder="Nombre" /><br/>
		    <input type="text" th:field="*{apellido}" placeholder="Apellido" /><br/>
		    <input type="email" th:field="*{email}" placeholder="Email" /><br/>
		    <input type="password" th:field="*{password}" placeholder="Contraseña" /><br/>
		    <input type="text" th:field="*{fotoPerfil}" placeholder="URL foto (opcional)" /><br/>
		
		    <button type="submit">Guardar</button>
		</form>
		
	</body>
</html>