<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar tarea</title>
</head>
<body>
    <h1>Editar Tarea</h1>
    
    <form action="#" th:action="@{/tareas/editar}" th:object="${tarea}" method="post">
        <p>
            <input type="hidden" th:field="*{id}" />
        </p>
        <p>
            Nombre: <input type="text" th:field="*{nombre}" />
        </p>
        <p>
            Descripción: <input type="text" th:field="*{descripcion}" />
        </p>
        <p>
            Completada: <input type="checkbox" th:field="*{completada}" />
        </p>

        <p>
            
            <label for="soporte">Soporte asignado:</label>
            <select th:field="*{soporte}" id="soporte">
                <option value="">-- Ningún soporte --</option>
                <option th:each="soporte : ${soportes}"
                        th:value="${soporte.id}"
                        th:text="${soporte.nombre}"></option>
            </select>
        </p>

        <p>
            <label for="ticketAsociado">Ticket asociado:</label>
            <select th:field="*{ticketAsociado}" id="ticket">
                <option value="">-- Ningún ticket --</option>
                <option th:each="ticket : ${tickets}"
                        th:value="${ticket.id}"
                        th:text="${ticket.asunto}"></option>
            </select>

        <input type="submit" value="Editar" />
        <a th:href="@{/tareas/lista}">Volver al listado</a>
    </form>
</body>
</html>
