<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ver Tickets</title>
</head>
<body>
    <table class="table table-striped-columns">
    <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Asunto</th>
                <th scope="col">Descripción</th>
                <th scope="col">Fecha Alta</th>
                <th scope="col">Fecha Baja</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Soporte asignado</th>
            </tr>
    </thead>
    <tbody>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.asunto}"></td>
            <td th:text="${ticket.descripcion}"></td>
            <td th:text="${#temporals.format(ticket.fechaAlta, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(ticket.fechaBaja, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${ticket.cliente.apellido}"></td>
            <td th:text="${ticket.soporteAsignado.apellido}"></td>
            <!--<td>
                <a th:href="@{/ticket/ver/{id}(id=${ticket.id})}">Ver Detalles</a>
            </td>
            -->
            </tr>
        </tbody>
</body>
</html>